{% extends "templates/base1.html" %}
{% block title %}Welcome{% endblock %}
{% block main %}
    <h3>Welcome, {{username}}!</h3>
    
    <button id="show_form">Write new post!</button>
    
    <div class="form" style="display: {{style}};">
        <form method="post">
            <div class="title">
                <label for="title">Title:</label>
                <input type="text" name="title" value={{title}}>
            </div>

            <div class="new_content">
                <label for="content">Content:</label>
                <textarea name="content">{{content}}</textarea>
            </div>

            <div class="submit">
                <button id="submit" name="publish" type="submit" value="publish">Publish</button>
            </div>

            <p class="error" style="color: red">{{pe}}</p>

        </form>
        
        <hr>
    </div>
    
    <div class="blogs">
        {% for blogpost in blogs %}
            <div class="blogpost" id = {{blogpost.key.id()}}>

                <div class="edit">
                    <a href="/{{blogpost.key.id()}}/edit">Edit</a>
                    <a href="/{{blogpost.key.id()}}/delete">Delete</a>
                </div>

                <div class="top">
                    <div class="upvotes">
                        {{blogpost.upvotes}}
                    </div>

                    <a href="/{{blogpost.key.id()}}">
                        <div class="titlebar">
                            <h3>{{blogpost.title}}</h3>
                            <p style="float: left">By {{blogpost.writer.get().username}}</p>
                            <p style="float: right">{{blogpost.date_created}}</p>
                        </div>
                    </a>
                </div>

                <div class="content">
                    <pre>
                        {{blogpost.content}}
                    </pre>
                </div>

                <div class="likebar">
                    {% if blogpost.comments %}
                        <form method="post">
                            <table>
                                {% for comment in blogpost.comments %}
                                    <tr id="{{comment.id()}}">
                                        <input class="blog_id" type="hidden" value="{{blogpost.key.id()}}">
                                        <td class="left"><p>{{comment.get().commenter.get().username}}</p></td>
                                        <td class="right">
                                            <p class="comment-text" id="{{comment.id()}}">{{comment.get().text}}</p>
                                        </td>
                                        <td>
                                            <div class="edit2">
                                                <button class="edit-comment" name="{{comment.id()}}">Edit</button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </form>
                    {% endif %}

                    <a href="/{{blogpost.key.id()}}"><button>Add comment</button></a>
                    <hr style="width: 100%; color: gray;">
                    
                </div>
                

            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block css %}
<style>
    
    body {
        font-family: sans-serif;
    }
    
    .container {
        min-width: 45%;
    }
    
    .topbar {
        height: 50px;
        display: block;
        width: 100%;
        margin: -7px 0 40px 0;
        padding-bottom: 30px;
        border-bottom: 4px solid black;
    }
    
    body h3 {
        margin: 0 0 30px 50px;
        font-style: italic;
    }

    .header {
        margin-left: 20px;
        float: left;
    }
    
    .header p {
        font-size: 13px;
        margin-left: 4px;
    }

    .nav {
        margin-top: 8px;
        margin-right: 20px;
        float: right;
    }
    
    .nav div {
        display: inline-block;
        margin: 20px 15px;
    }
    
    .nav a {
        font-size: 20px;
        text-decoration: none;
    }
    
    #show_form {
        margin: 0 0 40px 50px;
        height: 30px;
    }
    
    .form {
        width: 550px;
        margin: 50px 0 50px 50px;
        font-family: monospace;
        font-size: 1.5em;
    }
    
    form div {
        clear: both;
        margin-top: 10px;
    }

    .form div label {
        float: left;
    }

    .form div input {
        min-width: 400px;
        float: right;
        text-align: right;
        height: 2.5em;
    }
    
    .form div textarea {
        margin-top: 10px;
        margin-bottom: 30px;
        min-width: 550px;
        min-height: 400px;
        float: left;
    }
    
    .submit {
        clear: both;
        width: 100%;
        text-align: center;
    }
    
    .submit button {
        margin: 0 30%;
        padding: 10px;
        font-size: 15px;
        background-color: ghostwhite;
        box-shadow: none;
        border: 1px solid gray;
    }
    
    .form p {
        font-size: 15px;
        text-align: center;
    }
    
    .form hr {
        width: 600px;
    }
    
    .blogs {
        margin-left: 50px;
    }
        
    .blogpost {
        clear: both;
        width: 550px;
        margin-bottom: 100px;
    }
    
    .top {
        width: 550px;
        clear: both;
    }
    
    .top div {
        display: inline;
        max-width: 520px;
    }
    
    .top .upvotes {
        margin-top: 0;
        text-align: center;
        padding: 20px 0;
        width: 30px;
        float: left;
    }
    
    .top .titlebar {
        width: 490px;
        padding: 0 10px;
        background-color: #f9f8f8;
        display: inline-block;
        border-bottom: 1px solid lightgray;
        color: black;
        text-decoration: none;
    }
    
    .titlebar h3 {
        margin-left: 0;
        margin-bottom: 0;
    }
    
    .titlebar hr {
        color: black;
        clear: both;
    }
    
    .edit {
        display: block;
        width: 100%;
    }

    .edit a {
        text-decoration: none;
        color: darkgray;
        margin-right: 10px;
        font-size: 12px;
        float: right;
    }
    
    .content {
        width: 500px;
        padding: 10px 0;
        margin-left: 30px;
        margin-bottom: 0;
    }
    
    .content pre {
        width: inherit;
        white-space: pre-wrap;
    }
    
    .likebar {
        height: 20px;
        width: 500px;
        margin-left: 30px;
        margin-top: -20px;
        font-size: 15px;
        padding-top: 10px;
        border-top: 1px solid lightgray;
    }
    
    .likebar a button {
        cursor: pointer;
        padding: 7px;
        color: darkblue;
        background-color: #cbebff;
        border: none;
    }
    
    .likebar table {
        margin-left: 3px;
        margin-bottom: 10px;
        border-collapse: separate;
        border-spacing: 0 5px;
    }
    
    .likebar a {
        text-decoration: none;
        color: cornflowerblue;
        font-size: 15px;
    }
    
    .likebar tr {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    .left p {
        font-weight: bold;
        font-size: 12px;
        margin: 0px 5px 0 5px;
        font-family: sans-serif;
    }
    
    .likebar form {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .likebar form input {
        width: 470px;
        height: 50px;
    }
    
    .right p {
        display: inline-block;
        font-size: 12px;
        font-family: sans-serif;
        color: #6f6f6f;
    }
    
    
    .right textarea {
        display: inline-block;
        font-size: 12px;
        font-family: sans-serif;
        color: #6f6f6f;
    }
    
    .edit2 {
        display: inline-block;
        width: 30px;
        margin-left: 10px;
        margin-top: -10px;
    }
    
    .edit2 button {
        width: 40px;
        font-size: 8px;
        float: right;
    }
    
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>


<script type="text/javascript">
    
    $('#show_form').click(function() {
        $('.form').show();    
        $('#show_form').css({'margin-bottom': 0})
    })
    
    
    $('.edit-comment').click(function(e) {
        e.preventDefault();
        var comment_id = '#' + this.name;
        var old_text = $(comment_id + ' .right p').text();
        var comment_writer = $(comment_id + ' .left p').text();
        var blog_id = $(comment_id + ' .blog_id').val();
        
        var form = '<input type="hidden" name="edited_comment_id" value=' + this.name + '><input type="hidden" name="blog_id" value="' + blog_id + '"><input type="hidden" name="comment_writer" value=' + comment_writer + '><textarea name="new_text">' + old_text + '</textarea>';
        
        var new_buttons = '<button name="save" type="submit" value="save">Save</button><button name="cancel" type="submit" value="cancel">Cancel</button><button name="delete" type="submit" value="delete">Delete</button>'
        
        $(comment_id + ' .right p').replaceWith(form);
        $(comment_id + ' .edit2 button').replaceWith(new_buttons);
    });
    
</script>
{% endblock %}
